*{
    margin: 0;
    padding: 0;
}
@keyframes fadein {
    from { opacity: 0.4; }
    to   { opacity: 1; }
}
.mainNav{
    display: block;
    width: 100%;
    background: white;
}
.mainNav ul{
    display: flex;
    flex-direction: row;
    width: 40%;
}
.mainNav ul a,.mainNav ul a:visited{
    flex: 1;
    list-style: none;
    text-align: center;
    padding: 1em 0em;
    font-family: 'Cute Font', cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 24;
    color: black;
}
.mainNav ul a:hover {
    background: rgba(172, 255, 255,0.4);
    text-decoration: underline;
}
.mainNav ul a:first-child:hover
{
    background: white;
}

body{background: RGB(31, 31, 31);color:whitesmoke;}

.rosterSelection{
    display: flex;
    flex-direction: column;
}
#petercuck img{animation:fadein 3s;}
.rosterFlex{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}
.rosterFlex *{
    flex:1;
    animation: fadein 1.5s;
}


footer{
    text-align: center;
    background:black;
    color: bisque
}